:root{
    --maincolor:#2e6f56;
    --secondcolor:#1a5040;
    --bordercolor:#289e5a;
    --themeDotBorder:#0effa2;
    --mainText:#9cfdd9;
    --secondtext:#7bffb6;
    --preview-bg:rgb(78 ,191 ,150, 0.8);
    --previewshadow:#113a3c;
    --buttonColor:#01bb77;
    --postcolor:#80ffd0;

}