:root{
    --maincolor:#46344E;
    --secondcolor:#382a3f;
    --bordercolor:#e251ff;
    --themeDotBorder:#8601ff;
    --mainText:#ca99ff;
    --secondtext:#ff70fb;
    --preview-bg:rgb(87, 52, 125 ,0.8);
    --previewshadow:#1c112b;
    --buttonColor:#8534a3;
    --postcolor:#db7aff;

}

