:root{
    --maincolor:#15202B;
    --secondcolor:#192734;
    --bordercolor:#164056;
    --themeDotBorder:#fff;
    --mainText:#01c4ff;
    --secondtext:#eeeeee;
    --preview-bg:rgb(25,39,52,0.8);
    --previewshadow:#111921;
    --buttonColor:#17a2b8;
    --postcolor:#8ec3fb;

}